@{
    ViewData["Title"] = "Configuring Report caching";
}

<div class="text-center">
    <h2 class="display-4">Getting started</h2>
    <br /><a href="/DefaultCache">Default Cache</a>
    <br /><a href="/FileCache">File Cache</a>
    <br /><a href="/MSSQLCache">MS SQL Cache</a>
</div>
