@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Changing Database Type</h2>

    <br />
    @Html.ActionLink("View Report with JSON database", "Index", "Viewer", new { changeDatabase = false })
    <br />
    @Html.ActionLink("View Report with database changed to MySQL", "Index", "Viewer", new { changeDatabase = true })
</div>
