@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Connecting to Data from Code</h2>

    <br />
    @Html.ActionLink("View Report", "Index", "Viewer")
    <br />
    @Html.ActionLink("Design Report", "Index", "Designer")
</div>
