@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "File Cache";
}

<h2>File Cache</h2>
<br />

@Html.StiNetCoreViewer(new StiNetCoreViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent"
    }
})